<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.Dao.student_infoMapper" >
  <resultMap id="BaseResultMap" type="com.example.Po.student_info" >
    <id column="studentId" property="studentid" jdbcType="INTEGER" />
    <id column="telephone" property="telephone" jdbcType="INTEGER" />
    <result column="studentName" property="studentname" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="qq" property="qq" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    studentId, telephone, studentName, password, email, qq
  </sql>
  <select id="login" resultType="com.example.Po.student_info">
    select *
    from student_info
    where password = #{password} AND telephone = #{telephone}
  </select>
  <select id="selectAll" resultType="com.example.Po.student_info">
    select *
    from student_info
  </select>
  <select id="selecttelephone" resultType="com.example.Po.student_info">
    select *
    from student_info
    where telephone = #{telephone}
  </select>
  <select id="stuinfo" resultType="com.example.Po.student_info">
    select studentName, password, email, qq
    from student_info
    where studentId = #{studentid}
  </select>
  <select id="stuname" resultType="String">
    select studentname
    from student_info
    where studentId = #{studentid}
  </select>
  <select id="stuid" resultType="INTEGER">
    select studentId
    from student_info
    where telephone = #{telephone}
  </select>
  <insert id="register" parameterType="com.example.Po.student_info" >
    insert into student_info (password,telephone)
    values (#{password,jdbcType=VARCHAR},#{telephone,jdbcType=INTEGER})
  </insert>
  <insert id="addStu" parameterType="com.example.Po.student_info" >
     insert into student_info (telephone, studentName,
      password, email, qq
      )
    values (#{telephone,jdbcType=INTEGER}, #{studentname,jdbcType=VARCHAR},
      #{password,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, #{qq,jdbcType=INTEGER}
      )
  </insert>
  <delete id="deleteStu" parameterType="com.example.Po.student_info" >
    delete from student_info
    where studentId = #{studentid,jdbcType=INTEGER}
  </delete>
  <update id="updateStu" parameterType="com.example.Po.student_info" >
    update student_info
    <set >
      <if test="studentname != null" >
        studentName = #{studentname,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="qq != null" >
        qq = #{qq,jdbcType=INTEGER},
      </if>
    </set>
    where studentId = #{studentid,jdbcType=INTEGER}
  </update>
</mapper>